* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
.container {
    /* background:  #ffe8d6; */
    background: #edeced;
    /* margin-left: auto; margin-right: auto; */
}

/* ------- Navbar ------- */
.navbar-container{  
    background: linear-gradient(180deg, #edeced 100%, rgba(255,255,255,94) 100%);
    height: 10vh;
    width: 100%;
    margin: 0px;
}
.navbar-header {
    /* background: #000000; */
    /* background: #edeced; */
    height: 10vh;
    width: 100%;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 0px;
    padding: 0px;
    padding-right: 30px;
    float: right;
    
}
.logo-navbar {
    display: block;
    float: right;
    padding-right: 23rem;
}
.logo {
    width: 20rem;
    height: 4rem;
}
nav ul {
    display: inline-block;
    list-style: none;
    justify-content: space-between;
}
.menu li{
    display: inline-block;
    align-items: center;
    padding: 10px 10px;
}
ul li a {
    text-decoration: none;
    /* color: #f1faee; */
    color: #000000;
    display: inline-block; 
    margin:0;
    font-size: large;
}
a:after {
    display: block;
    content: '';
    border-bottom: solid 3px #000000;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
a:hover:after { 
    transform: scaleX(1); 
}
a.fromRight:after { 
    transform-origin:100% 50%; 
}
a.fromLeft:after{ 
    transform-origin:  0% 50%;  
}
/* ------- Navbar ------- */

/* ------- About ------- */
.about-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}   
.about {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.blank-row {
    padding-right: 8rem;
    padding-left: 8em;
}
.top-row {
    text-align: center;
    font-size: 10px;
    font-family: 'segoe ui';
    display: block;
    color: #000000;
    width: 100%;
    padding: 0rem 10rem;
    margin-bottom: 2rem;
}
.top-row span{
    width: 100%;
    font-size: 8rem;
    font-weight: bold;
    color: #a5a58d;
    font-family: 'belly-display';
}
.middle-row {
    width: 15%;
    padding: 0px 10px;
    flex: auto;
    text-align: center;
    font-size: 10px;
    font-family: 'segoe ui';
    color: #000000;
    margin: 0px;
}
.top-row .middle-row h1 {
    display: block;
}
@media (min-width: 768px) {
    .about-container {
        padding-top: 5rem;
        padding-bottom: 5rem;
        background: #edeced;
    }
    .logo-navbar {
        padding-right: 35rem;
    }
}
/* ------- About ------- */

/* ------- PORTOFOLIO ------- */
.portfolio-container {
    height: auto;
    width: 100%;
    /* background: #283618; */
    /* overflow: hidden; */
    /* background: rgb(69,123,157); */
    /* background: linear-gradient(180deg, rgba(69,123,157,1) 0%, rgba(255,255,255,1) 100%); */
}
.portfolio {
    padding: 3rem 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.portfolio-img {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    margin: 0px 10px;
}
/* ------- PORTOFOLIO ------- */

/* -------- CONTACT -------- */
.contact-container {
    height: auto;
    width: 100%;
    /* background: #283618; */
    /* overflow: hidden; */
    /* background: rgb(69,123,157); */
    /* background: linear-gradient(180deg, rgba(69,123,157,1) 0%, rgba(255,255,255,1) 100%); */
}
.contact {
    padding: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.contact-img {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    margin: 0px 10px;
    color: #283618;
}
/* -------- CONTACT -------- */
